.wrapper {
	background: #102D00;
	padding-top: 60px;
	padding-bottom: 110px;
	color: #fff;
	overflow: hidden;
}
.container {
	max-width: 1760px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	@media (max-width: 1000px) {
		flex-direction: column-reverse;
		gap: 40px;
	}
}
.leftPart {
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-width: 800px;
	@media (max-width: 1000px) {
		margin: 0 auto;
	}
}
.rightPart {
	display: flex;
	flex-direction: column;
	gap: 28px;
	@media (max-width: 1000px) {
		transform: translateX(50px);
	}
}
.topImagesWrap {
	display: flex;
	gap: 28px;
	& > img {
		transition: 0.3s;
		&:hover {
			scale: 1.02;
			transition: 0.3s;
		}
	}
}
.imageWrrrap {
	& > img {
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			scale: 1.02;
			transition: 0.3s;
		}
	}
}
.topImagesFirst {
	width: 410px;
	height: 570px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	
}
.topImagesSecond {
	width: 406px;
	height: 570px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
.bottomImagesWrap {
	& > img {
		width: 845px;
		height: 306px;
		border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
		transition: 0.3s;
		&:hover {
			scale: 1.02;
			transition: 0.3s;
		}
	}
}
.contentBlock {

}
.mainTitle {
	font-size: 50px;
	line-height: 58px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 50px;
}
.mainText {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: justify;
}
.formBlock {
	
}
.topImageDiv {
	position: absolute;
	bottom: 20px;
	left: 10px;
	font-size: 20px;
	font-weight: 400;
	& > h3 {
		font-size: 28px;
		line-height: 32px;
		margin: 0;
		margin-top: 12px;
	}
}

.brown-form {
  background-color: #c6a96a;
	border-radius: 34px;
  padding: 15px 45px 20px;
  width: 80%;

  .form-group {
    margin-bottom: 10px;

    label {
      display: block;
      color: #102c00;
			font-size: 20px;
    }

    input[type="text"] {
      width: 100%;
      height: 54px;
			border-radius: 12px;
      padding: 10px;
      background-color: white;
      border: none;
      margin-top: 5px;
			font-size: 24px;
			color: #102c00;
    }
  }

  .half-width {
    display: flex;
		gap: 40px;

    .form-group {
      flex: 1;
      margin-right: 5px;
    }
  }

  button {
    width: 80%;
    margin: 15px auto 0;
    display: block;
    padding: 10px;
		font-size: 30px;
		border-radius: 12px;
		background: #102c00;
		color: #fff;
		cursor: pointer;
  }
}
