body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slider-container {
  max-width: 1630px;
  padding-left: 24px;
}
@media (max-width: 1630px) {
  .slider-container {
    max-width: 1069px;
    margin: 0 auto;
  }
}
@media (max-width: 1120px) {
  .slider-container {
    max-width: 514px;
    margin: 0 auto;
    padding-left: 0;
  }
}

*:focus {
  outline: 0;
  outline: none;
}